name: sync to gitee
on:
#  schedule:
 #   - cron: '0 0-22/2 * * *'
  workflow_dispatch:

jobs:
  sync-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout GitHub Repo
        uses: actions/checkout@v4
        with:
          ref: master
       
      - name: Download files
        run: |
          curl -o IPV4.txt "https://raw.githubusercontent.com/${{ github.repository }}/master/output/userresult.txt"
          # curl -o IPV6.txt "https://raw.githubusercontent.com/${{ github.repository }}/master/output/ipv6/result.txt"
          # curl -o IPV4.m3u "https://raw.githubusercontent.com/${{ github.repository }}/master/output/userresult.m3u"

      - name: Clone Gitee Repo
        env:
          GITEE_USER: ${{ secrets.GITEE_USER }}
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
          GITEE_REPO: ${{ secrets.GITEE_REPO }}
        run: |
          git clone "https://${GITEE_USER}:${GITEE_TOKEN}@gitee.com/${GITEE_USER}/${GITEE_REPO}.git" gitee-repo

      - name: Sync files
        run: |
          cd gitee-repo
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          git checkout master || git checkout -b master
          cp ../IPV4.txt ./
          # cp ../IPV6.txt ./
          # cp ../IPV4.m3u ./
          git add IPV4.txt 
          # add to above line IPV6.txt IPV4.m3u
          git commit -m "Sync from GitHub" || exit 0
          git push origin master
